@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@import 'variables';
 
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    
}

.container {
    width: 1240px;
    margin: 0 auto;
}

@import 'blocks/promo'; 
@import 'blocks/booking'; 
@import 'blocks/menu';
@import 'blocks/buttons';
@import 'blocks/recomendation';
@import 'blocks/download';
@import 'blocks/footer';
@import 'blocks/media';