.booking {
    height: 270px;
    width: 1240px;
    background: #fff;
    position: absolute;
    top: -200px; 
    left: 50%;
    transform: translateX(-50%);
    border-radius: 40px;
    padding: 20px 47px 24px 43px;
    &__tabs {
        display: grid;
        grid-template-columns: 45px 50px 40px 85px 160px;
        grid-auto-rows: auto;
        column-gap: 50px;
        justify-content: flex-start;
        align-items: center;
        list-style-type: none;
        padding-bottom: 10px;
        border-bottom: 1px solid $btn_color;
    }
    &__tab {
        margin-right: 50px;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #888AA2;
        cursor: pointer;
        
    }
    .active {
        color: $btn_color;
        display: block;     
    }
    &__content {
        &-tab {
            display: none;
        }
    }
    &__change {
        width: 37px;
        height: 37px;
        border-radius: 100%;
        border: 1px solid #000000;
        background: #fff;
    }
    &__settings {       
        margin-top: 15px;       
        form {          
            display: grid;
            grid-template-columns: 364px 37px 364px 174px 174px;
            grid-template-rows: auto;
            grid-auto-rows: auto;
            align-items: center;
            column-gap: 8px;
            input {
                outline: none;
                height: 48px;       
                border: 0.5px solid #000000;
                border-radius: 10px;
            }
        }
        #from {
            background: url(../icons/departures.svg) no-repeat 15px 1px;
        }
        #to {
            background: url(../icons/returning.svg) no-repeat;
        }
        #from, #to {
            width: 100%;
            padding-left: 75px;
            background-position: left 5% bottom 45%;
            background-size: auto 70%;
        }
        .calendar {
            width: 100%;
            padding: 0 15px;
        }
    }
    &__button {
        position: absolute;
        bottom: 24px;
        left: 50%;
        transform: translateX(-50%);
    }
    &__choose {
        display: grid;
        grid-template-columns: 450px 300px;
        grid-auto-rows: auto;
        justify-content: space-between;
        margin-top: 30px;
        &-option {
            display: flex;
            justify-content: flex-end;
            div {
                margin-left: 24px;
            }
            select {
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: #1F4AA8;
                border: none;               
            }
        }
        &-btn {
            margin-right: 15px;            
        }
        &-radio {
            display: grid;
            grid-template-columns: repeat(3, 150px);
            justify-content: flex-start;
            align-items: center;
            input {
                width: 24px;
                height: 24px;   
                position: relative;                      
            }           
            label {
                position: absolute;
                font-size: 16px;
                line-height: 24px;
                color: #000000; 

            }
        }
    }


    
}