.button {
    width: 160px;
    height: 50px;
    background: #1F4AA8;
    border-radius: 39px;
    border: none;
    font-size: 14px;
    line-height: 17px;
    color: $text_color;
    
}
button:active, button:focus {
    outline: none;
}